	body{
		font: 62.5% "Trebuchet MS", sans-serif;
		margin: 50px;
		background-color: #1C1919;
		color: #D3CBBD;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}
	#accordion {
		width: 300px;
	}
	#tabs {
		width: 200px;
	}
#topNav ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	border-top: 1px solid #373D3C;
	border-bottom: 1px solid #373D3C;
}
#topNav li {
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, sans-serif;
	padding: 1em;
	color: #EB5937;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #D3CBBD;
}
a:hover {
	color: #EB5937;
}
footer p {
	padding: 30px;
	clear: left;
}